@import "tailwindcss";

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f7;
}

* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

a {
  color: inherit;
  text-decoration: none;
}
